*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.18 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family:  "Roboto Mono" , monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.-top-\[48\.91px\] {
  top: -48.91px;
}

.left-0 {
  left: 0px;
}

.left-1\/2 {
  left: 50%;
}

.left-\[0\.64px\] {
  left: 0.64px;
}

.left-\[10\.95px\] {
  left: 10.95px;
}

.left-\[12\.34px\] {
  left: 12.34px;
}

.left-\[13\.9px\] {
  left: 13.9px;
}

.left-\[17\.34px\] {
  left: 17.34px;
}

.left-\[173\.33px\] {
  left: 173.33px;
}

.left-\[192\.35px\] {
  left: 192.35px;
}

.left-\[2\.75px\] {
  left: 2.75px;
}

.left-\[20\.2px\] {
  left: 20.2px;
}

.left-\[37px\] {
  left: 37px;
}

.left-\[51\.78px\] {
  left: 51.78px;
}

.top-0 {
  top: 0px;
}

.top-1\/2 {
  top: 50%;
}

.top-\[10\.03px\] {
  top: 10.03px;
}

.top-\[13\.8px\] {
  top: 13.8px;
}

.top-\[15px\] {
  top: 15px;
}

.top-\[45px\] {
  top: 45px;
}

.top-\[7\.38px\] {
  top: 7.38px;
}

.top-\[8\.06px\] {
  top: 8.06px;
}

.top-\[8\.45px\] {
  top: 8.45px;
}

.z-50 {
  z-index: 50;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mt-7 {
  margin-top: 1.75rem;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.hidden {
  display: none;
}

.h-6 {
  height: 1.5rem;
}

.h-\[1012px\] {
  height: 1012px;
}

.h-\[101px\] {
  height: 101px;
}

.h-\[103px\] {
  height: 103px;
}

.h-\[114px\] {
  height: 114px;
}

.h-\[1180px\] {
  height: 1180px;
}

.h-\[130px\] {
  height: 130px;
}

.h-\[1321\.0145263671875px\] {
  height: 1321.0145263671875px;
}

.h-\[135px\] {
  height: 135px;
}

.h-\[1413px\] {
  height: 1413px;
}

.h-\[148px\] {
  height: 148px;
}

.h-\[14px\] {
  height: 14px;
}

.h-\[15px\] {
  height: 15px;
}

.h-\[18px\] {
  height: 18px;
}

.h-\[197px\] {
  height: 197px;
}

.h-\[20\.887489318847656px\] {
  height: 20.887489318847656px;
}

.h-\[20px\] {
  height: 20px;
}

.h-\[2113px\] {
  height: 2113px;
}

.h-\[211px\] {
  height: 211px;
}

.h-\[21px\] {
  height: 21px;
}

.h-\[22\.194534301757812px\] {
  height: 22.194534301757812px;
}

.h-\[225px\] {
  height: 225px;
}

.h-\[229px\] {
  height: 229px;
}

.h-\[24\.99998664855957px\] {
  height: 24.99998664855957px;
}

.h-\[25\%\] {
  height: 25%;
}

.h-\[26px\] {
  height: 26px;
}

.h-\[27px\] {
  height: 27px;
}

.h-\[284px\] {
  height: 284px;
}

.h-\[285\.4545593261719px\] {
  height: 285.4545593261719px;
}

.h-\[305px\] {
  height: 305px;
}

.h-\[310px\] {
  height: 310px;
}

.h-\[315px\] {
  height: 315px;
}

.h-\[31px\] {
  height: 31px;
}

.h-\[320px\] {
  height: 320px;
}

.h-\[324px\] {
  height: 324px;
}

.h-\[343px\] {
  height: 343px;
}

.h-\[362px\] {
  height: 362px;
}

.h-\[36px\] {
  height: 36px;
}

.h-\[385\.0145568847656px\] {
  height: 385.0145568847656px;
}

.h-\[391px\] {
  height: 391px;
}

.h-\[41\.82px\] {
  height: 41.82px;
}

.h-\[426px\] {
  height: 426px;
}

.h-\[42px\] {
  height: 42px;
}

.h-\[436\.4545593261719px\] {
  height: 436.4545593261719px;
}

.h-\[453\.1002502441406px\] {
  height: 453.1002502441406px;
}

.h-\[457px\] {
  height: 457px;
}

.h-\[458px\] {
  height: 458px;
}

.h-\[470px\] {
  height: 470px;
}

.h-\[47px\] {
  height: 47px;
}

.h-\[48px\] {
  height: 48px;
}

.h-\[521\.7567749023438px\] {
  height: 521.7567749023438px;
}

.h-\[54\.999969482421875px\] {
  height: 54.999969482421875px;
}

.h-\[541\.8243408203125px\] {
  height: 541.8243408203125px;
}

.h-\[570px\] {
  height: 570px;
}

.h-\[6\.01px\] {
  height: 6.01px;
}

.h-\[600px\] {
  height: 600px;
}

.h-\[60px\] {
  height: 60px;
}

.h-\[63px\] {
  height: 63px;
}

.h-\[640px\] {
  height: 640px;
}

.h-\[64px\] {
  height: 64px;
}

.h-\[7\.398990154266357px\] {
  height: 7.398990154266357px;
}

.h-\[7\.3994140625px\] {
  height: 7.3994140625px;
}

.h-\[7\.677180290222168px\] {
  height: 7.677180290222168px;
}

.h-\[700px\] {
  height: 700px;
}

.h-\[70px\] {
  height: 70px;
}

.h-\[732px\] {
  height: 732px;
}

.h-\[78px\] {
  height: 78px;
}

.h-\[79px\] {
  height: 79px;
}

.h-\[80px\] {
  height: 80px;
}

.h-\[81\.82px\] {
  height: 81.82px;
}

.h-\[82px\] {
  height: 82px;
}

.h-\[856px\] {
  height: 856px;
}

.h-\[9\.95px\] {
  height: 9.95px;
}

.h-\[909px\] {
  height: 909px;
}

.h-\[94px\] {
  height: 94px;
}

.h-\[96px\] {
  height: 96px;
}

.h-fit {
  height: -moz-fit-content;
  height: fit-content;
}

.h-full {
  height: 100%;
}

.w-6 {
  width: 1.5rem;
}

.w-\[10\.566155433654785px\] {
  width: 10.566155433654785px;
}

.w-\[103px\] {
  width: 103px;
}

.w-\[109px\] {
  width: 109px;
}

.w-\[110px\] {
  width: 110px;
}

.w-\[115px\] {
  width: 115px;
}

.w-\[116\.25px\] {
  width: 116.25px;
}

.w-\[12\.574990272521973px\] {
  width: 12.574990272521973px;
}

.w-\[121px\] {
  width: 121px;
}

.w-\[127px\] {
  width: 127px;
}

.w-\[138px\] {
  width: 138px;
}

.w-\[139px\] {
  width: 139px;
}

.w-\[14\.412489891052246px\] {
  width: 14.412489891052246px;
}

.w-\[14\.8896484375px\] {
  width: 14.8896484375px;
}

.w-\[145px\] {
  width: 145px;
}

.w-\[14px\] {
  width: 14px;
}

.w-\[150px\] {
  width: 150px;
}

.w-\[16px\] {
  width: 16px;
}

.w-\[19\.24683952331543px\] {
  width: 19.24683952331543px;
}

.w-\[200px\] {
  width: 200px;
}

.w-\[207\.242919921875px\] {
  width: 207.242919921875px;
}

.w-\[20px\] {
  width: 20px;
}

.w-\[210px\] {
  width: 210px;
}

.w-\[21px\] {
  width: 21px;
}

.w-\[240px\] {
  width: 240px;
}

.w-\[248\.1081085205078px\] {
  width: 248.1081085205078px;
}

.w-\[25px\] {
  width: 25px;
}

.w-\[260px\] {
  width: 260px;
}

.w-\[261px\] {
  width: 261px;
}

.w-\[265px\] {
  width: 265px;
}

.w-\[270px\] {
  width: 270px;
}

.w-\[303px\] {
  width: 303px;
}

.w-\[31\.750835418701172px\] {
  width: 31.750835418701172px;
}

.w-\[311px\] {
  width: 311px;
}

.w-\[323px\] {
  width: 323px;
}

.w-\[331px\] {
  width: 331px;
}

.w-\[335px\] {
  width: 335px;
}

.w-\[343px\] {
  width: 343px;
}

.w-\[375px\] {
  width: 375px;
}

.w-\[399px\] {
  width: 399px;
}

.w-\[43px\] {
  width: 43px;
}

.w-\[50px\] {
  width: 50px;
}

.w-\[51px\] {
  width: 51px;
}

.w-\[54px\] {
  width: 54px;
}

.w-\[56px\] {
  width: 56px;
}

.w-\[59px\] {
  width: 59px;
}

.w-\[5px\] {
  width: 5px;
}

.w-\[648\.7572021484375px\] {
  width: 648.7572021484375px;
}

.w-\[6px\] {
  width: 6px;
}

.w-\[73px\] {
  width: 73px;
}

.w-\[74px\] {
  width: 74px;
}

.w-\[77px\] {
  width: 77px;
}

.w-\[79px\] {
  width: 79px;
}

.w-\[7px\] {
  width: 7px;
}

.w-\[9\.674991607666016px\] {
  width: 9.674991607666016px;
}

.w-\[91px\] {
  width: 91px;
}

.w-\[93px\] {
  width: 93px;
}

.w-\[94\.06253814697266px\] {
  width: 94.06253814697266px;
}

.w-\[94px\] {
  width: 94px;
}

.w-\[96px\] {
  width: 96px;
}

.w-\[97px\] {
  width: 97px;
}

.w-full {
  width: 100%;
}

.min-w-\[265px\] {
  min-width: 265px;
}

.min-w-full {
  min-width: 100%;
}

.max-w-\[375px\] {
  max-width: 375px;
}

.max-w-full {
  max-width: 100%;
}

.basis-1\/3 {
  flex-basis: 33.333333%;
}

.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(40px) scale(0.95);
    filter: blur(4px);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0px);
  }
}

.animate-slideUp {
  animation: slideUp 1.75s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.cursor-pointer {
  cursor: pointer;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-20 {
  gap: 5rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-\[10px\] {
  gap: 10px;
}

.gap-\[120px\] {
  gap: 120px;
}

.gap-\[16px\] {
  gap: 16px;
}

.gap-\[20px\] {
  gap: 20px;
}

.gap-\[27px\] {
  gap: 27px;
}

.gap-\[2px\] {
  gap: 2px;
}

.gap-\[30px\] {
  gap: 30px;
}

.gap-\[40px\] {
  gap: 40px;
}

.gap-\[50px\] {
  gap: 50px;
}

.gap-\[60px\] {
  gap: 60px;
}

.gap-\[80px\] {
  gap: 80px;
}

.gap-\[8px\] {
  gap: 8px;
}

.gap-x-10 {
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
}

.gap-y-5 {
  row-gap: 1.25rem;
}

.overflow-clip {
  overflow: clip;
}

.overflow-y-clip {
  overflow-y: clip;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.scroll-smooth {
  scroll-behavior: smooth;
}

.text-nowrap {
  text-wrap: nowrap;
}

.rounded-\[0\.53px\] {
  border-radius: 0.53px;
}

.rounded-\[1000px\] {
  border-radius: 1000px;
}

.rounded-\[100px\] {
  border-radius: 100px;
}

.rounded-\[105\.69px\] {
  border-radius: 105.69px;
}

.rounded-\[11\.93px\] {
  border-radius: 11.93px;
}

.rounded-\[20px\] {
  border-radius: 20px;
}

.rounded-\[27\.36px\] {
  border-radius: 27.36px;
}

.rounded-\[30px\] {
  border-radius: 30px;
}

.rounded-\[34\.66px\] {
  border-radius: 34.66px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-b-\[20px\] {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.border-\[1px\] {
  border-width: 1px;
}

.border-b-0 {
  border-bottom-width: 0px;
}

.border-b-\[0\.5px\] {
  border-bottom-width: 0.5px;
}

.border-b-\[1px\] {
  border-bottom-width: 1px;
}

.border-l-0 {
  border-left-width: 0px;
}

.border-l-\[0\.5px\] {
  border-left-width: 0.5px;
}

.border-r-0 {
  border-right-width: 0px;
}

.border-t-\[0\.5px\] {
  border-top-width: 0.5px;
}

.border-t-\[1px\] {
  border-top-width: 1px;
}

.border-\[\#929292\] {
  --tw-border-opacity: 1;
  border-color: rgb(146 146 146 / var(--tw-border-opacity, 1));
}

.border-\[\#E9E9E9\] {
  --tw-border-opacity: 1;
  border-color: rgb(233 233 233 / var(--tw-border-opacity, 1));
}

.border-transparent {
  border-color: transparent;
}

.bg-\[\#485C11\] {
  --tw-bg-opacity: 1;
  background-color: rgb(72 92 17 / var(--tw-bg-opacity, 1));
}

.bg-\[\#8E9C78\] {
  --tw-bg-opacity: 1;
  background-color: rgb(142 156 120 / var(--tw-bg-opacity, 1));
}

.bg-\[\#DFECC6\] {
  --tw-bg-opacity: 1;
  background-color: rgb(223 236 198 / var(--tw-bg-opacity, 1));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-white\/40 {
  background-color: rgb(255 255 255 / 0.4);
}

.bg-\[url\(\'\.\/static\/iphone\.png\'\)\] {
  background-image: url('./static/iphone.png');
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.object-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.p-\[20px\] {
  padding: 20px;
}

.p-\[2px\] {
  padding: 2px;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-\[16px\] {
  padding-left: 16px;
  padding-right: 16px;
}

.px-\[22px\] {
  padding-left: 22px;
  padding-right: 22px;
}

.px-\[30px\] {
  padding-left: 30px;
  padding-right: 30px;
}

.px-\[32px\] {
  padding-left: 32px;
  padding-right: 32px;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-\[120px\] {
  padding-top: 120px;
  padding-bottom: 120px;
}

.py-\[14px\] {
  padding-top: 14px;
  padding-bottom: 14px;
}

.py-\[20px\] {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-\[32px\] {
  padding-top: 32px;
  padding-bottom: 32px;
}

.py-\[50px\] {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.pb-20 {
  padding-bottom: 5rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pb-\[100px\] {
  padding-bottom: 100px;
}

.pb-\[120px\] {
  padding-bottom: 120px;
}

.pb-\[30px\] {
  padding-bottom: 30px;
}

.pb-\[60px\] {
  padding-bottom: 60px;
}

.pb-\[80px\] {
  padding-bottom: 80px;
}

.pl-5 {
  padding-left: 1.25rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.pr-\[20px\] {
  padding-right: 20px;
}

.pr-\[30px\] {
  padding-right: 30px;
}

.pt-10 {
  padding-top: 2.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-20 {
  padding-top: 5rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pt-\[120px\] {
  padding-top: 120px;
}

.pt-\[30px\] {
  padding-top: 30px;
}

.pt-\[60px\] {
  padding-top: 60px;
}

.text-center {
  text-align: center;
}

.font-crimson {
  font-family: "Crimson Text", serif;
}

.font-dm {
  font-family: "DM Sans", sans-serif;
}

.font-mono {
  font-family:  "Roboto Mono" , monospace;
}

.font-reddit {
  font-family:  "Reddit Mono" , monospace;
}

.font-rethink {
  font-family:  "Rethink Sans" , serif;
}

.text-\[10\.5px\] {
  font-size: 10.5px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[15px\] {
  font-size: 15px;
}

.text-\[18px\] {
  font-size: 18px;
}

.text-\[21\.65px\] {
  font-size: 21.65px;
}

.text-\[22\.86px\] {
  font-size: 22.86px;
}

.text-\[25\.71px\] {
  font-size: 25.71px;
}

.text-\[30px\] {
  font-size: 30px;
}

.text-\[32px\] {
  font-size: 32px;
}

.text-\[50px\] {
  font-size: 50px;
}

.text-\[64px\] {
  font-size: 64px;
}

.text-\[76px\] {
  font-size: 76px;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.leading-\[100\%\] {
  line-height: 100%;
}

.leading-\[110\.00000000000001\%\] {
  line-height: 110.00000000000001%;
}

.leading-\[120\%\] {
  line-height: 120%;
}

.leading-\[140\%\] {
  line-height: 140%;
}

.leading-\[80\%\] {
  line-height: 80%;
}

.leading-\[90\%\] {
  line-height: 90%;
}

.leading-\[95\%\] {
  line-height: 95%;
}

.-tracking-\[0\.01em\] {
  letter-spacing: -0.01em;
}

.-tracking-\[0\.025em\] {
  letter-spacing: -0.025em;
}

.-tracking-\[0\.03em\] {
  letter-spacing: -0.03em;
}

.-tracking-\[0\.045\] {
  letter-spacing: -0.045;
}

.-tracking-\[0\.04em\] {
  letter-spacing: -0.04em;
}

.-tracking-\[0\.05em\] {
  letter-spacing: -0.05em;
}

.-tracking-\[0\.08em\] {
  letter-spacing: -0.08em;
}

.tracking-\[-0\.01em\] {
  letter-spacing: -0.01em;
}

.tracking-\[-0\.025em\] {
  letter-spacing: -0.025em;
}

.tracking-\[-0\.03em\] {
  letter-spacing: -0.03em;
}

.tracking-\[-0\.04em\] {
  letter-spacing: -0.04em;
}

.tracking-\[-0\.05em\] {
  letter-spacing: -0.05em;
}

.tracking-\[-0\.08em\] {
  letter-spacing: -0.08em;
}

.text-\[\#000000\] {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.text-\[\#485C11\] {
  --tw-text-opacity: 1;
  color: rgb(72 92 17 / var(--tw-text-opacity, 1));
}

.text-\[\#6F6F6F\] {
  --tw-text-opacity: 1;
  color: rgb(111 111 111 / var(--tw-text-opacity, 1));
}

.text-\[\#929292\] {
  --tw-text-opacity: 1;
  color: rgb(146 146 146 / var(--tw-text-opacity, 1));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.mix-blend-exclusion {
  mix-blend-mode: exclusion;
}

.shadow-\[0px_-4px_20px_0px_\#0000001A\] {
  --tw-shadow: 0px -4px 20px 0px #0000001A;
  --tw-shadow-colored: 0px -4px 20px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[0px_2px_4px_0px_\#0000000D\] {
  --tw-shadow: 0px 2px 4px 0px #0000000D;
  --tw-shadow-colored: 0px 2px 4px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[0px_2px_8px_0px_\#00000014\] {
  --tw-shadow: 0px 2px 8px 0px #00000014;
  --tw-shadow-colored: 0px 2px 8px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.backdrop-blur-\[30px\] {
  --tw-backdrop-blur: blur(30px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-200 {
  transition-duration: 200ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ease-linear {
  transition-timing-function: linear;
}

.\[clip-path\:polygon\(0px_0px\2c 4\.5px_0px\2c 4\.5px_6\.5px\2c 100\%_17\.65px\2c 10\.5px_20\.85px\2c 5px_14\.25px\2c 5px_30px\2c 7\.5px_30px\2c 7\.5px_100\%\2c 2\.5px_100\%\2c 2\.5px_29\.5px\2c 0px_29\.5px\)\] {
  clip-path: polygon(0px 0px,4.5px 0px,4.5px 6.5px,100% 17.65px,10.5px 20.85px,5px 14.25px,5px 30px,7.5px 30px,7.5px 100%,2.5px 100%,2.5px 29.5px,0px 29.5px);
}

.\[clip-path\:polygon\(4\.446666666666px_0px\2c 9\.674991607666016px_0px\2c 5\.22333333333333px_25px\2c 0px_25px\)\] {
  clip-path: polygon(4.446666666666px 0px,9.674991607666016px 0px,5.22333333333333px 25px,0px 25px);
}

.\[clip-path\:polygon\(7px_0px\2c 12\.57px_0px\2c 4\.5px_20\.89px\2c 0px_19\.53px\)\] {
  clip-path: polygon(7px 0px,12.57px 0px,4.5px 20.89px,0px 19.53px);
}

.selection\:bg-\[\#7ea318\] *::-moz-selection {
  --tw-bg-opacity: 1;
  background-color: rgb(126 163 24 / var(--tw-bg-opacity, 1));
}

.selection\:bg-\[\#7ea318\] *::selection {
  --tw-bg-opacity: 1;
  background-color: rgb(126 163 24 / var(--tw-bg-opacity, 1));
}

.selection\:text-white *::-moz-selection {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.selection\:text-white *::selection {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.selection\:bg-\[\#7ea318\]::-moz-selection {
  --tw-bg-opacity: 1;
  background-color: rgb(126 163 24 / var(--tw-bg-opacity, 1));
}

.selection\:bg-\[\#7ea318\]::selection {
  --tw-bg-opacity: 1;
  background-color: rgb(126 163 24 / var(--tw-bg-opacity, 1));
}

.selection\:text-white::-moz-selection {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.selection\:text-white::selection {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.hover\:border-\[\#485C11\]:hover {
  --tw-border-opacity: 1;
  border-color: rgb(72 92 17 / var(--tw-border-opacity, 1));
}

.hover\:bg-\[\#8E9C78\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(142 156 120 / var(--tw-bg-opacity, 1));
}

.hover\:text-\[\#485C11\]:hover {
  --tw-text-opacity: 1;
  color: rgb(72 92 17 / var(--tw-text-opacity, 1));
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.group:hover .group-hover\:-translate-y-2 {
  --tw-translate-y: -0.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

@media (min-width: 375px) {
  .mob\:max-w-\[375px\] {
    max-width: 375px;
  }
}

@media (min-width: 800px) {
  .tab\:-top-\[60px\] {
    top: -60px;
  }

  .tab\:left-\[22px\] {
    left: 22px;
  }

  .tab\:block {
    display: block;
  }

  .tab\:flex {
    display: flex;
  }

  .tab\:hidden {
    display: none;
  }

  .tab\:h-\[1148px\] {
    height: 1148px;
  }

  .tab\:h-\[1256px\] {
    height: 1256px;
  }

  .tab\:h-\[131px\] {
    height: 131px;
  }

  .tab\:h-\[1516px\] {
    height: 1516px;
  }

  .tab\:h-\[1613px\] {
    height: 1613px;
  }

  .tab\:h-\[183\.63636779785156px\] {
    height: 183.63636779785156px;
  }

  .tab\:h-\[185px\] {
    height: 185px;
  }

  .tab\:h-\[20px\] {
    height: 20px;
  }

  .tab\:h-\[21px\] {
    height: 21px;
  }

  .tab\:h-\[220px\] {
    height: 220px;
  }

  .tab\:h-\[224px\] {
    height: 224px;
  }

  .tab\:h-\[250px\] {
    height: 250px;
  }

  .tab\:h-\[265px\] {
    height: 265px;
  }

  .tab\:h-\[274px\] {
    height: 274px;
  }

  .tab\:h-\[300px\] {
    height: 300px;
  }

  .tab\:h-\[321px\] {
    height: 321px;
  }

  .tab\:h-\[334\.6363525390625px\] {
    height: 334.6363525390625px;
  }

  .tab\:h-\[376px\] {
    height: 376px;
  }

  .tab\:h-\[40px\] {
    height: 40px;
  }

  .tab\:h-\[422\.93597412109375px\] {
    height: 422.93597412109375px;
  }

  .tab\:h-\[42px\] {
    height: 42px;
  }

  .tab\:h-\[434px\] {
    height: 434px;
  }

  .tab\:h-\[459px\] {
    height: 459px;
  }

  .tab\:h-\[49px\] {
    height: 49px;
  }

  .tab\:h-\[518px\] {
    height: 518px;
  }

  .tab\:h-\[574px\] {
    height: 574px;
  }

  .tab\:h-\[61px\] {
    height: 61px;
  }

  .tab\:h-\[650px\] {
    height: 650px;
  }

  .tab\:h-\[664\.2857055664062px\] {
    height: 664.2857055664062px;
  }

  .tab\:h-\[664px\] {
    height: 664px;
  }

  .tab\:h-\[704\.2857055664062px\] {
    height: 704.2857055664062px;
  }

  .tab\:h-\[720px\] {
    height: 720px;
  }

  .tab\:h-\[726px\] {
    height: 726px;
  }

  .tab\:h-\[744px\] {
    height: 744px;
  }

  .tab\:h-\[80px\] {
    height: 80px;
  }

  .tab\:h-\[82px\] {
    height: 82px;
  }

  .tab\:h-\[893px\] {
    height: 893px;
  }

  .tab\:w-1\/3 {
    width: 33.333333%;
  }

  .tab\:w-\[105px\] {
    width: 105px;
  }

  .tab\:w-\[111px\] {
    width: 111px;
  }

  .tab\:w-\[118px\] {
    width: 118px;
  }

  .tab\:w-\[124px\] {
    width: 124px;
  }

  .tab\:w-\[131px\] {
    width: 131px;
  }

  .tab\:w-\[137px\] {
    width: 137px;
  }

  .tab\:w-\[142px\] {
    width: 142px;
  }

  .tab\:w-\[150px\] {
    width: 150px;
  }

  .tab\:w-\[157px\] {
    width: 157px;
  }

  .tab\:w-\[251px\] {
    width: 251px;
  }

  .tab\:w-\[27px\] {
    width: 27px;
  }

  .tab\:w-\[310px\] {
    width: 310px;
  }

  .tab\:w-\[330px\] {
    width: 330px;
  }

  .tab\:w-\[350px\] {
    width: 350px;
  }

  .tab\:w-\[357px\] {
    width: 357px;
  }

  .tab\:w-\[46px\] {
    width: 46px;
  }

  .tab\:w-\[484\.25px\] {
    width: 484.25px;
  }

  .tab\:w-\[520px\] {
    width: 520px;
  }

  .tab\:w-\[560px\] {
    width: 560px;
  }

  .tab\:w-\[575\.56640625px\] {
    width: 575.56640625px;
  }

  .tab\:w-\[589px\] {
    width: 589px;
  }

  .tab\:w-\[590px\] {
    width: 590px;
  }

  .tab\:w-\[594px\] {
    width: 594px;
  }

  .tab\:w-\[640px\] {
    width: 640px;
  }

  .tab\:w-\[676\.5484008789062px\] {
    width: 676.5484008789062px;
  }

  .tab\:w-\[720px\] {
    width: 720px;
  }

  .tab\:w-\[79px\] {
    width: 79px;
  }

  .tab\:w-\[85px\] {
    width: 85px;
  }

  .tab\:w-\[98px\] {
    width: 98px;
  }

  .tab\:w-auto {
    width: auto;
  }

  .tab\:w-full {
    width: 100%;
  }

  .tab\:max-w-\[800px\] {
    max-width: 800px;
  }

  .tab\:flex-row {
    flex-direction: row;
  }

  .tab\:gap-\[140px\] {
    gap: 140px;
  }

  .tab\:gap-\[40px\] {
    gap: 40px;
  }

  .tab\:gap-\[50px\] {
    gap: 50px;
  }

  .tab\:overflow-x-hidden {
    overflow-x: hidden;
  }

  .tab\:overflow-x-clip {
    overflow-x: clip;
  }

  .tab\:rounded-\[17\.9px\] {
    border-radius: 17.9px;
  }

  .tab\:border-\[1\.49px\] {
    border-width: 1.49px;
  }

  .tab\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .tab\:px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .tab\:px-20 {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .tab\:px-\[100px\] {
    padding-left: 100px;
    padding-right: 100px;
  }

  .tab\:px-\[20px\] {
    padding-left: 20px;
    padding-right: 20px;
  }

  .tab\:pb-5 {
    padding-bottom: 1.25rem;
  }

  .tab\:pb-\[120px\] {
    padding-bottom: 120px;
  }

  .tab\:pr-\[200px\] {
    padding-right: 200px;
  }

  .tab\:pr-\[80px\] {
    padding-right: 80px;
  }

  .tab\:pt-0 {
    padding-top: 0px;
  }

  .tab\:text-\[11px\] {
    font-size: 11px;
  }

  .tab\:text-\[140px\] {
    font-size: 140px;
  }

  .tab\:text-\[40px\] {
    font-size: 40px;
  }

  .tab\:text-\[54px\] {
    font-size: 54px;
  }

  .tab\:text-\[80px\] {
    font-size: 80px;
  }

  .tab\:leading-\[105\%\] {
    line-height: 105%;
  }

  .tab\:leading-\[90\%\] {
    line-height: 90%;
  }

  .tab\:-tracking-\[0\.01em\] {
    letter-spacing: -0.01em;
  }

  .tab\:-tracking-\[0\.05em\] {
    letter-spacing: -0.05em;
  }

  .tab\:tracking-\[-0\.01em\] {
    letter-spacing: -0.01em;
  }
}

@media (min-width: 1280px) {
  .desk\:-top-\[141px\] {
    top: -141px;
  }

  .desk\:left-\[147px\] {
    left: 147px;
  }

  .desk\:left-\[18\.63px\] {
    left: 18.63px;
  }

  .desk\:top-\[18\.5px\] {
    top: 18.5px;
  }

  .desk\:block {
    display: block;
  }

  .desk\:hidden {
    display: none;
  }

  .desk\:h-\[1163px\] {
    height: 1163px;
  }

  .desk\:h-\[122px\] {
    height: 122px;
  }

  .desk\:h-\[136px\] {
    height: 136px;
  }

  .desk\:h-\[1412px\] {
    height: 1412px;
  }

  .desk\:h-\[17px\] {
    height: 17px;
  }

  .desk\:h-\[192px\] {
    height: 192px;
  }

  .desk\:h-\[21px\] {
    height: 21px;
  }

  .desk\:h-\[235px\] {
    height: 235px;
  }

  .desk\:h-\[250px\] {
    height: 250px;
  }

  .desk\:h-\[281px\] {
    height: 281px;
  }

  .desk\:h-\[290px\] {
    height: 290px;
  }

  .desk\:h-\[294px\] {
    height: 294px;
  }

  .desk\:h-\[300px\] {
    height: 300px;
  }

  .desk\:h-\[307px\] {
    height: 307px;
  }

  .desk\:h-\[42px\] {
    height: 42px;
  }

  .desk\:h-\[441px\] {
    height: 441px;
  }

  .desk\:h-\[44px\] {
    height: 44px;
  }

  .desk\:h-\[464px\] {
    height: 464px;
  }

  .desk\:h-\[46px\] {
    height: 46px;
  }

  .desk\:h-\[54px\] {
    height: 54px;
  }

  .desk\:h-\[582px\] {
    height: 582px;
  }

  .desk\:h-\[59px\] {
    height: 59px;
  }

  .desk\:h-\[607\.4390869140625px\] {
    height: 607.4390869140625px;
  }

  .desk\:h-\[620px\] {
    height: 620px;
  }

  .desk\:h-\[634px\] {
    height: 634px;
  }

  .desk\:h-\[644px\] {
    height: 644px;
  }

  .desk\:h-\[669\.3818359375px\] {
    height: 669.3818359375px;
  }

  .desk\:h-\[672px\] {
    height: 672px;
  }

  .desk\:h-\[711px\] {
    height: 711px;
  }

  .desk\:h-\[738px\] {
    height: 738px;
  }

  .desk\:h-\[789\.3818359375px\] {
    height: 789.3818359375px;
  }

  .desk\:h-\[80px\] {
    height: 80px;
  }

  .desk\:h-\[81px\] {
    height: 81px;
  }

  .desk\:h-\[82px\] {
    height: 82px;
  }

  .desk\:h-\[831px\] {
    height: 831px;
  }

  .desk\:h-\[84px\] {
    height: 84px;
  }

  .desk\:w-\[107px\] {
    width: 107px;
  }

  .desk\:w-\[114px\] {
    width: 114px;
  }

  .desk\:w-\[1200px\] {
    width: 1200px;
  }

  .desk\:w-\[121px\] {
    width: 121px;
  }

  .desk\:w-\[128px\] {
    width: 128px;
  }

  .desk\:w-\[135px\] {
    width: 135px;
  }

  .desk\:w-\[142px\] {
    width: 142px;
  }

  .desk\:w-\[149px\] {
    width: 149px;
  }

  .desk\:w-\[154px\] {
    width: 154px;
  }

  .desk\:w-\[164px\] {
    width: 164px;
  }

  .desk\:w-\[171px\] {
    width: 171px;
  }

  .desk\:w-\[265px\] {
    width: 265px;
  }

  .desk\:w-\[285px\] {
    width: 285px;
  }

  .desk\:w-\[29px\] {
    width: 29px;
  }

  .desk\:w-\[356\.6666564941406px\] {
    width: 356.6666564941406px;
  }

  .desk\:w-\[386\.6666564941406px\] {
    width: 386.6666564941406px;
  }

  .desk\:w-\[397px\] {
    width: 397px;
  }

  .desk\:w-\[459px\] {
    width: 459px;
  }

  .desk\:w-\[460px\] {
    width: 460px;
  }

  .desk\:w-\[464px\] {
    width: 464px;
  }

  .desk\:w-\[50px\] {
    width: 50px;
  }

  .desk\:w-\[510px\] {
    width: 510px;
  }

  .desk\:w-\[540px\] {
    width: 540px;
  }

  .desk\:w-\[590px\] {
    width: 590px;
  }

  .desk\:w-\[600px\] {
    width: 600px;
  }

  .desk\:w-\[720px\] {
    width: 720px;
  }

  .desk\:w-\[800px\] {
    width: 800px;
  }

  .desk\:w-\[869\.7423706054688px\] {
    width: 869.7423706054688px;
  }

  .desk\:w-\[907px\] {
    width: 907px;
  }

  .desk\:w-\[93px\] {
    width: 93px;
  }

  .desk\:w-\[953\.2491455078125px\] {
    width: 953.2491455078125px;
  }

  .desk\:w-full {
    width: 100%;
  }

  .desk\:max-w-\[1280px\] {
    max-width: 1280px;
  }

  .desk\:flex-row {
    flex-direction: row;
  }

  .desk\:flex-col {
    flex-direction: column;
  }

  .desk\:gap-5 {
    gap: 1.25rem;
  }

  .desk\:gap-\[240px\] {
    gap: 240px;
  }

  .desk\:rounded-\[16px\] {
    border-radius: 16px;
  }

  .desk\:rounded-\[24px\] {
    border-radius: 24px;
  }

  .desk\:border-2 {
    border-width: 2px;
  }

  .desk\:border-\[\#FFFFFF50\] {
    border-color: #FFFFFF50;
  }

  .desk\:p-0 {
    padding: 0px;
  }

  .desk\:px-\[240px\] {
    padding-left: 240px;
    padding-right: 240px;
  }

  .desk\:px-\[300px\] {
    padding-left: 300px;
    padding-right: 300px;
  }

  .desk\:px-\[30px\] {
    padding-left: 30px;
    padding-right: 30px;
  }

  .desk\:pl-\[50px\] {
    padding-left: 50px;
  }

  .desk\:pr-\[400px\] {
    padding-right: 400px;
  }

  .desk\:text-\[12px\] {
    font-size: 12px;
  }

  .desk\:text-\[160px\] {
    font-size: 160px;
  }

  .desk\:text-\[60px\] {
    font-size: 60px;
  }

  .desk\:leading-\[85\%\] {
    line-height: 85%;
  }
}